* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centralizar verticalmente */
    background-color: #f0f0f0; /* Cor de fundo para o corpo */
}

.game-container {
    width: 1000px; /* Largura fixa */
    height: 600px; /* Altura fixa */
    overflow: hidden; /* Esconder qualquer conteúdo que ultrapasse o contêiner */
    position: relative; /* Para posicionamento absoluto dos elementos dentro */
}

.game-board {
    width: 100%;
    height: 100%; /* Usar a altura total do contêiner */
    border-bottom: 15px solid green;
    position: relative;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    height: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: mario-jump 0.8s ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

#score, #speed {
    position: absolute;
    top: 10px; /* Posição no topo do jogo */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    background-color: white; /* Fundo branco */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    z-index: 10; /* Para garantir que fique acima de outros elementos */
}

/* Posiciona a pontuação no canto superior esquerdo */
#score {
    left: 10px; /* Posição à esquerda */
}

/* Posiciona a velocidade no canto superior direito */
#speed {
    right: 10px; /* Posição à direita */
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes mario-jump {
    0% {
        bottom: 0px;
    }
    40% {
        bottom: 200px;
    }
    60% {
        bottom: 200px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }
    to {
        right: 100%;
    }
}